sphinx-autoapi==1.8.4
myst-parser==0.17.0
sphinxcontrib-youtube==1.1.0
torch==1.11.0
pandas==1.5.0
scikit-learn==1.1.2
optuna==2.10.0
statsmodels==0.13.2
scipy==1.8.1
pmdarima==2.0.1
xgboost==1.6.2
gpflow==2.5.2
tensorflow==2.10.0
tensorflow-probability==0.18
joblib==1.2.0
tables==3.7.0
bayesian_torch
nbsphinx
blitz-bayesian-pytorch
changefinder
matplotlib
sqlalchemy==1.4.46